body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.surfheader {
    background-color: lightskyblue;
}

#footer{
	background-color: #1D5894;
	min-height: 50px;
    width: 100%;
}
#blog{
	background-color: #61A1CE;
	position: relative;
	font-size: 2em;
}

#nextposts{
	font-size: 4em;
	color: #1D5894;
    text-align: center;
    width: 100%;
}

.blogimg{
	height: 200px;
	width: 200px;
	position: relative;
	float:left;
	/*margin-right: -30px;*/
	padding: -15px;
    overflow: hidden;
}
.blogimgname
{
	color: black;
	position: absolute;
	bottom: 0;
	left:0;
	font-size: 2rem;
}

.blogimgoverlay
{
	height: 200px;
	width: 200px;
	background-color: #61A1CE;
	opacity: .5;
	color: white;
	position: absolute;
	top: 0;
	left: 0;

}
.blogimgoverlay:hover {
	opacity: 0;
}
