body {
    padding-bottom: 20px;
    font: Verdana (14px);
    font-family: sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.surfheader {
    background-color: lightskyblue;
}

#footer{
    clear: both;
	background-color: #1D5894;
	min-height: 50px;
    width: 100%;
}
#blog{
	background-color: #61A1CE;
	position: relative;
    align-content: center;
	font-size: 2em;
    width: 100%;
    height: 300px;
}

#nextposts{
	font-size: 4em;
	color: #1D5894;
    text-align: center;
    width: 100%;
    margin-bottom: 8px;
}

.blogimg{
	height: 300px;
	width: 300px;
	position: relative;
	float:left;
	padding: -15px;
    overflow: hidden;
}
.blogimgname
{
	color: white;
    text-shadow: 2px 2px black;
	position: absolute;
	bottom: 0;
	left:0;
	font-size: 3rem;
}

.blogimgoverlay
{
	height: 300px;
	width: 300px;
	background-color: #61A1CE;
	opacity: .5;
	color: white;
	position: absolute;
	top: 0;
	left: 0;

}
.blogimgoverlay:hover {
	opacity: 0;
}


#header{
	position: relative;
}
#content h3{
	color: #1D5894;
	font-size: 3em;
}

.background {
	margin-left: -15px;
	margin-right: -15px;	
	background-image: url("../img/headerimage.jpg");
	background-color: #1D5894;
	min-height: 250px;
	padding-right:20px;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 20px;
	position: relative;	
	overflow: hidden;
}

.background:before {
	width: 100%;
	height: 250px;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #61A1CE;
	opacity: .7;
}

.overlay {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}

#subheader{
	width: 100%;
	margin-top: 45px;
	display: flex;             
    flex-direction: column;
    justify-content: center; 

}

#title{
	font-size: 6em;
	font-family:sans-serif; 
	color: white;
	text-align:center;
}

#subtitle{
	color: white;
	text-align:center;
}
